h1 {
    text-align: center;
}

.dialog-grid {
    display: grid;
    grid-template: 
            "r r a d" 50%
            "r r c c" auto / 20% 20% 1fr 1fr;
    width: 100%;
    max-width: max-content;
}

.recipes {
    grid-area: r;
}

.breakfast {
    grid-area: a;
}

.lunch {
    grid-area: d;
    padding-right: 50px;
}

.dinner {
    grid-area: c;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px; 
}